<% current_user.chat_room.messages.where(:visible => true).last(10).each do |message| %>
  <%if message.sender_id != current_user.id %>
    <% if message.sender.role_cd == 0 %>
      <div class="row message-body">
        <div class="col-sm-12 message-main-receiver">
          <div class="receiver">
            <div class="message-text">
              <strong>Admin:</strong>
              <br/>
              <span>Hello, <%= current_user.email %></span>  
              <br>
              <%= message.content %>
              <br/>
              <span>Thank you!</span>
            </div>
            <span class="message-time pull-right">
              <%= message.created_at.strftime("%d %b %l:%M %P ") %>
            </span>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row message-body">
        <div class="col-sm-12 message-main-receiver">
          <div class="receiver">
            <div class="misc">
              <% if message.category.present? %>
                <span class="label label-warning" style="background-color: <%= category(message.category.try(:name)).try(:color) %> !important;" title="Category"><i class="<%= category(message.category.try(:name)).try(:icon) %>"></i></span>
              <% end %>
            </div>
            <span class="msg-content">
              <%= message.content %>
              <span class="pull-right">
                <% if message_reported(message.id, current_user.id) %>
                  <button type="button" style="color:red" class="report-message transparent" disabled id="<%= message.id %>">
                    <i class="fa fa-flag" title="Reported Message!"></i>
                  </button>
                <% else %>
                  <button type="button" class="report-message transparent" title="Report Message ?" id="<%= message.id %>">
                    <i class="fa fa-flag"></i>
                  </button>
                <% end %>
              </span>  
              <span class="message-time pull-right">
                <%= message.created_at.strftime(" %l:%M %P ") %>
              </span>
            </span>
            <div class="clearfix"></div>
            <% reply = message.replies.where(sender_id: current_user.id) %>
            <% if reply.present? %>
              <div class="row message-body">
                <div class="col-sm-12">
                  <div class="sender">
                    <div class="message-text">
                      <div class="direct-chat-text reciever-message">
                        <%= reply.first.content %>
                      </div>
                      <span class="message-time pull-right"><%= reply.first.created_at.strftime("%l:%M %P ") %>
                      </span>
                    </div>
                  </div>  
                </div>
              </div>
            <%else%>
              <div class="direct-chat-text reciever-message">
                <% if !current_user.blocked %>
                  <a href="javascript:void(0)" id="<%= message.id %>-<%= current_user.id %>" class="reply-btn">Reply</a>
                <% end %>  
                <a href="javascript:void(0)" id="<%= message.id %>-<%= current_user.id %>-cancel" class="cancel-btn hidden">Cancel</a>
                <div class="row reply-box hidden" id="reply-<%= message.id %>-<%= current_user.id %>">
                  <%= form_tag("/reply", method: 'post', :remote => true, class: "form-horizontal") do %>
                    <div class="col-xs-8">
                      <input type="text" name="reply" id="reply" placeholder="Type Message ..." class="form-control">
                      <input type="hidden" name="message_id" value="<%= message.id %>">
                    </div>
                    <div class="col-xs-2">
                      <button type="submit" class="btn btn-primary btn-flat">Send</button>
                    </div>
                  <% end %>
                </div> 
              </div>
            <%end%>
          </div>
        </div>
      </div>
    <% end %>  
  <%else%>
    <div class="row message-body">
      <div class="col-sm-12 message-main-sender">
        <div class="sender">
          <div class="message-text">
            <div class="misc">
              <% if message.category.present? %>
                <span class="label label-warning" style="background-color: <%= category(message.category.try(:name)).try(:color) %> !important;" title="Category"><i class="<%= category(message.category.try(:name)).try(:icon) %>"></i></span>
              <% end %>
            </div>
            <span class="msg-content">
              <%= message.content %>
              <span class="message-time pull-right">
                <%= message.created_at.strftime(" %l:%M %P ") %>
              </span>
            </span>
            <% if message.replies.where(:visible => true).present? %>
              <div class="msg-replies">
                <ul>
                  <% message.replies.where(:visible => true).order("score desc").first(3).each do |msg| %>
                    <li>
                      <span class="msg-content"><%= msg.content %>
                        <div id="liked-msg<%= msg.id %>">
                          <% if liked?("reply", msg.id, current_user.id) %>
                            <span class="pull-right"><a href="javascript:void(0)"><i class="fa fa-thumbs-up"></i></a></span>
                          <% else %>
                            <span class="pull-right"><a href="javascript:void(0)" class="like-msg" id="<%= msg.id %>"><i class="fa fa-thumbs-up"></i></a></span>
                          <% end %>
                        </div>
                      </span>
                      <a href="javascipt:void(0)" class="start-chat" id="<%= msg.id %>"><i title="Start Conversation?" class="fa fa-commenting"></i></a>
                      <span class="pull-right">
                        <% if message_reported(msg.id, current_user.id, "reply") %>
                          <button type="button" style="color:red" class="transparent" disabled id="<%= msg.id %>">
                            <i class="fa fa-flag" title="Reported Message!"></i>
                          </button>
                        <% else %>
                          <button type="button" class="report-reply transparent" title="Report Message ?" id="<%= msg.id %>">
                            <i class="fa fa-flag"></i>
                          </button>
                        <% end %>
                      </span>
                    </li>
                  <% end %>  
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <%end%>
<%end%>

<script type="text/javascript">
  $(".slidingDiv").hide();
  $(".show_hide").show();
  $(".direct-chat-messages").animate({ scrollTop: $(".direct-chat-messages")[0].scrollHeight}, 1000);
  $(".reply-btn").click(function(){
    var id = $(this).attr("id");
    $("#reply-"+id).removeClass("hidden");
    $("#"+id+"-cancel").removeClass("hidden");
    $("#"+id).addClass("hidden");
  })
  $(".cancel-btn").click(function(){
    var id = $(this).attr("id").split("-cancel")[0];
    $("#reply-"+id).addClass("hidden");
    $("#"+id+"-cancel").addClass("hidden");
    $(".reply-btn#"+id).removeClass("hidden");
  });
  $(".cat-select").change(function(){
    var value = $(this).val();
    var message_id = $(this).parent().parent().attr("id");
    $.ajax({
      method: "POST",
      url: "/save_category",
      data: { category: value, message_id: message_id }
    })
    .done(function( msg ) {
      $(".cat-question#"+message_id).html('<span class="label label-warning">'+ value.titleize() +'</span>');
      $(".slidingDiv").hide();
    });
  });

  $(".report-message").click(function(){
    var message_id = $(this).attr("id");
    $.ajax({
      method: "POST",
      url: "/messages/report",
      data: { message_id: message_id }
    })
    .done(function( msg ) {
      $(".report-message#"+message_id).attr("disabled", "disabled");
      alert("Message Reported!");
    });
  });
  $(".start-chat").click(function(){
    var message_id = $(this).attr("id");
    title = message_id
    $.ajax({
      method: "POST",
      url: "/rooms",
      data: { room:{ title: title}, message_id: message_id},
      dataType: "script"
    })
    .done(function( msg ) {
      
    });
  });
  $(".report-reply").click(function(){
    var message_id = $(this).attr("id");
    $.ajax({
      method: "POST",
      url: "/messages/report",
      data: { message_id: message_id, type: "reply" }
    })
    .done(function( msg ) {
      $(".report-reply#"+message_id).attr("disabled", "disabled");
      alert("Message Reported!");
    });
  });
  $(".like-msg").click(function(){
    var message_id = $(this).attr("id");
    $.ajax({
      method: "POST",
      url: "/messages/like",
      data: { message_id: message_id, type: "reply" }
    })
    .done(function( msg ) {
      $("#liked-msg"+message_id).attr("disabled", "disabled");
      alert("Liked!");
    });
  });
  $('.show_hide').click(function () {
    $(".direct-chat-messages").animate({ scrollTop: $(".direct-chat-messages")[0].scrollHeight}, 1000);
    var getId = $(this).attr("id");
    $("#slidingDiv"+getId).toggle("slide");
  });
</script>