
  <% if message.sender_id == user.id %>
    <%= render :partial => "messages/sender", locals: { message: message, user: user } %>
  <% else %>
    <% if message.sender.admin? %>
      <div class="message received">
        <span class="pull-left-width">
          <span>Hello, <%= user.email %></span>  
          <br>
          <%= message.content %>
          <br/>
          <span>Thank you!</span>
        </span>
        <span class="metadata">
          <span class="time"><%= message.created_at.strftime(" %l:%M %P ") %></span>
        </span>
      </div>  
    <% else %>
      <%= render :partial => "messages/receiver", locals: { message: message, user: user } %>
    <% end %>  
  <% end %>

<script type="text/javascript">
  $(".post-reply").click(function(){
    $(".reply-message-modal span").html($("#received"+$(this).attr("id")+" span").html());
    $("#message_id").val($(this).attr("id"));
  });
</script>