<% user.chat_room.messages.last(10).each do |message| %>
<!-- Message. Default to the left -->
  <%if message.sender_id != user.id %>
    <div class="direct-chat-msg">
      <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-left">Anonymous</span>
        <span class="direct-chat-timestamp pull-right"><%= message.created_at.strftime("%d %b %l:%M %P ") %></span>
      </div><!-- /.direct-chat-info -->
      <div class="direct-chat-text reciever-message">
        <%= message.content %>
      </div><!-- /.direct-chat-text -->
      <div class="clearfix"></div>
      <%
        reply = message.replies.where(sender_id: user.id)
        if reply.present?
      %>
        <div class="direct-chat-info clearfix">
          <span class="direct-chat-name pull-left">Replied By You</span>
          <span class="direct-chat-timestamp pull-right"><%= reply.first.created_at.strftime("%d %b %l:%M %P ") %></span>
        </div><!-- /.direct-chat-info -->
        <div class="direct-chat-text reciever-message reply-sender">
          <%= reply.first.content %>
        </div>
      <%else%>
        <div class="direct-chat-text reciever-message">
          <a href="javascript:void(0)" id="<%= message.id %>-<%= user.id %>" class="reply-btn">Reply to this message</a>
          <a href="javascript:void(0)" id="<%= message.id %>-<%= user.id %>-cancel" class="cancel-btn hidden">Cancel</a>
          <div class="row reply-box hidden" id="reply-<%= message.id %>-<%= user.id %>">
            <%= form_tag("/reply", method: 'post', :remote => true, class: "form-horizontal") do %>
              <div class="col-xs-8">
                <input type="text" name="reply" id="reply" placeholder="Type Message ..." class="form-control">
                <input type="hidden" name="message_id" value="<%= message.id %>">
              </div>
              <div class="col-xs-2">
                <button type="submit" class="btn btn-primary btn-flat">Send</button>
              </div>
            <% end %>
          </div> 
        </div><!-- /.direct-chat-text -->
      <%end%>
    </div><!-- /.direct-chat-msg -->
  <%else%>
    <!-- Message to the right -->
    <div class="direct-chat-msg right">
      <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-right">Me</span>
        <span class="direct-chat-timestamp pull-left"><%= message.created_at.strftime("%d %b %l:%M %P ") %></span>
      </div><!-- /.direct-chat-info -->
      <div class="direct-chat-text sender-message">
        <%= message.content %>
      </div><!-- /.direct-chat-text -->
      <%
        reply = message.replies.order("score desc")
        if reply.present?
      %>
        <div class="clearfix"></div>
        <div class="direct-chat-info clearfix">
          <span class="direct-chat-name pull-left">Replied By Anonymous</span>
          <span class="direct-chat-timestamp pull-right"><%= reply.first.created_at.strftime("%d %b %l:%M %P ") %></span>
        </div><!-- /.direct-chat-info -->
        <div class="direct-chat-text sender-message reply-reciever">
          <%= reply.first.content %>
        </div>
      <%end%>
    </div><!-- /.direct-chat-msg -->
  <%end%>
<%end%>
<script type="text/javascript">
  $(".direct-chat-messages").animate({ scrollTop: $(".direct-chat-messages")[0].scrollHeight}, 1000);
  $(".reply-btn").click(function(){
    var id = $(this).attr("id");
    $("#reply-"+id).removeClass("hidden");
    $("#"+id+"-cancel").removeClass("hidden");
    $("#"+id).addClass("hidden");
  })
  $(".cancel-btn").click(function(){
    var id = $(this).attr("id").split("-cancel")[0];
    $("#reply-"+id).addClass("hidden");
    $("#"+id+"-cancel").addClass("hidden");
    $(".reply-btn#"+id).removeClass("hidden");
  })
</script>