<% get_messages = user.chat_room.messages.where(:visible => true).last(10) %>
<% if get_messages.present? %>
  <% get_messages.group_by{|x| x.created_at.strftime("%A %d %B, %Y")}.each do |key, messages| %>
      <hr>
      <%= key %>
      <hr>
      <% messages.each do |message| %>
        <%if message.sender_id != user.id %>
          <% if message.sender.role_cd == 0 %>
            <div class="row message-body">
              <div class="col-sm-12 message-main-receiver">
                <div class="receiver">
                  <div class="message-text">
                    <span>Hello, <%= user.email %></span>  
                    <br>
                    <%= message.content %>
                    <br/>
                    <span>Thank you!</span>
                  </div>
                  <span class="message-time pull-right">
                    <%= message.created_at.strftime(" %l:%M %P ") %>
                  </span>
                </div>
              </div>
            </div>
          <% else %>
            <div class="row message-body">
              <div class="col-sm-12 message-main-receiver">
                <div class="receiver">
                  <!-- 
                   -->
                  <span class="msg-content">
                    <%= message.content %>
                    <span class="pull-right">
                      <% if message_reported(message.id, user.id) %>
                        <button type="button" style="color:red" class="transparent" disabled id="<%= message.id %>">
                          <i class="fa fa-flag" data-toggle="tooltip" title="Reported Message!"></i>
                        </button>
                      <% else %>
                        <button type="button" data-toggle="tooltip" class="report-message transparent" title="Report Message ?" id="<%= message.id %>">
                          <i class="fa fa-flag"></i>
                        </button>
                      <% end %>
                    </span>  
                    <span class="message-time pull-right">
                      <%= message.created_at.strftime(" %l:%M %P ") %>
                    </span>
                  </span>
                  <div class="clearfix"></div>
                  <% reply = message.replies.where(sender_id: user.id) %>
                  <% if reply.present? %>
                    <div class="row message-body">
                      <div class="col-sm-12">
                        <div class="sender">
                          <div class="message-text">
                            <div class="direct-chat-text reciever-message">
                              <%= reply.first.content %>
                            </div>
                            <span class="message-time pull-right"><%= reply.first.created_at.strftime("%l:%M %P ") %>
                            </span>
                          </div>
                        </div>  
                      </div>
                    </div>
                  <%else%>
                    <div class="direct-chat-text reciever-message">
                      <% if !user.blocked %>
                        <a href="javascript:void(0)" id="<%= message.id %>-<%= user.id %>" class="reply-btn">Reply</a>
                      <% end %>  
                      <a href="javascript:void(0)" id="<%= message.id %>-<%= user.id %>-cancel" class="cancel-btn hidden">Cancel</a>
                      <div class="row reply-box hidden" id="reply-<%= message.id %>-<%= user.id %>">
                        <%= form_tag("/reply", method: 'post', :remote => true, class: "form-horizontal") do %>
                          <div class="col-xs-8">
                            <input type="text" name="reply" id="reply" placeholder="Type Message ..." class="form-control">
                            <input type="hidden" name="message_id" value="<%= message.id %>">
                          </div>
                          <div class="col-xs-2">
                            <button type="submit" class="btn btn-primary btn-flat">Send</button>
                          </div>
                        <% end %>
                      </div> 
                    </div>
                  <%end%>
                </div>
              </div>
            </div>
          <% end %>  
        <%else%>
          <div class="row message-body">
            <div class="col-sm-12 message-main-sender">
              <div class="sender">
                <div class="message-text">
                  <span class="msg-content">
                    <%= message.content %>
                    <span class="message-time pull-right">
                      <%= message.created_at.strftime(" %l:%M %P ") %>
                    </span>
                  </span>
                  <% if message.replies.where(:visible => true).present? %>
                    <% admin_reply = message.replies.select{|s| s.sender.admin? }.first %>
                    <% if admin_reply.present? %>
                      <div class="msg-replies">
                        <ul>
                          <li>
                            <span class="msg-content">
                              <a href="javascipt:void(0)" data-toggle="tooltip" title="Start Conversation ?" class="start-chat" id="<%= admin_reply.id %>"><%= admin_reply.content %></a>
                              <div id="liked-msg<%= admin_reply.id %>">
                                <% if liked?("reply", admin_reply.id, user.id) %>
                                  <button class="pull-right transparent" disabled><i data-toggle="tooltip" title="Liked!" style="color: green;" class="fa fa-thumbs-up"></i></button>
                                <% else %>
                                  <button class="pull-right transparent like-msg" id="<%= admin_reply.id %>"><i data-toggle="tooltip" title="Like ?" class="fa fa-thumbs-up"></i></button>
                                <% end %>
                              </div>
                            </span>
                          </li>
                        </ul>
                      </div>
                    <% end %>
                    <% message.replies.where(:visible => true).order("score desc").first(admin_reply.present? ? 2 : 3).each do |msg| %>
                      <% if !msg.sender.admin? %>
                        <div class="msg-replies">
                          <ul>
                            <li>
                              <span class="msg-content">
                                <a href="javascipt:void(0)" data-toggle="tooltip" title="Start Conversation ?" class="start-chat" id="<%= msg.id %>"><%= msg.content %></a>
                                <div id="liked-msg<%= msg.id %>">
                                  <% if liked?("reply", msg.id, user.id) %>
                                    <button class="pull-right transparent" disabled><i data-toggle="tooltip" title="Liked!" style="color: green;" class="fa fa-thumbs-up"></i></button>
                                  <% else %>
                                    <button class="pull-right transparent like-msg" id="<%= msg.id %>"><i data-toggle="tooltip" title="Like ?" class="fa fa-thumbs-up"></i></button>
                                  <% end %>
                                </div>
                              </span>
                              <span class="pull-right">
                                <% if message_reported(msg.id, user.id, "reply") %>
                                  <button type="button" style="color:red" class="transparent" disabled id="<%= msg.id %>">
                                    <i class="fa fa-flag" data-toggle="tooltip" title="Reported Message!"></i>
                                  </button>
                                <% else %>
                                  <button type="button" class="report-reply transparent" data-toggle="tooltip" title="Report Message ?" id="<%= msg.id %>">
                                    <i class="fa fa-flag"></i>
                                  </button>
                                <% end %>
                              </span>
                            </li>
                          </ul>
                        </div>
                      <% end %>  
                    <% end %>  
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      <% end %>
  <%end%>
<% end %>
<script type="text/javascript">
  $(".slidingDiv").hide();
  $(".show_hide").show();
  $(".direct-chat-messages").animate({ scrollTop: $(".direct-chat-messages")[0].scrollHeight}, 1000);
  $(".reply-btn").click(function(){
    var id = $(this).attr("id");
    $("#reply-"+id).removeClass("hidden");
    $("#"+id+"-cancel").removeClass("hidden");
    $("#"+id).addClass("hidden");
  })
  $(".cancel-btn").click(function(){
    var id = $(this).attr("id").split("-cancel")[0];
    $("#reply-"+id).addClass("hidden");
    $("#"+id+"-cancel").addClass("hidden");
    $(".reply-btn#"+id).removeClass("hidden");
  });

  $(".report-message").click(function(){
    var message_id = $(this).attr("id");
    $(this).prop('disabled', true);
    $.ajax({
      method: "POST",
      url: "/messages/report",
      data: { message_id: message_id }
    })
    .done(function( msg ) {
      $(".report-message#"+message_id).attr("disabled", "disabled");
      alert("Message Reported!");
    });
  });
  $(".start-chat").click(function(){
    var message_id = $(this).attr("id");
    title = message_id
    $.ajax({
      method: "POST",
      url: "/rooms",
      data: { room:{ title: title}, message_id: message_id},
      dataType: "script"
    })
    .done(function( msg ) {
      setTimeout(function(){
        refreshPartial();
      }, 1000);
    });
  });
  $(".report-reply").click(function(){
    var message_id = $(this).attr("id");
    $(this).prop('disabled', true);
    $.ajax({
      method: "POST",
      url: "/messages/report",
      data: { message_id: message_id, type: "reply" }
    })
    .done(function( msg ) {
      $(".report-reply#"+message_id).attr("disabled", "disabled");
      alert("Message Reported!");
    });
  });
  $(".like-msg").click(function(){
    var message_id = $(this).attr("id");
    $(this).removeClass('like-msg');
    $(this).prop('disabled', true);
    $.ajax({
      method: "POST",
      url: "/messages/like",
      data: { message_id: message_id, type: "reply" }
    })
    .done(function( msg ) {
      $("#liked-msg"+message_id).removeClass("like-msg");
      alert("Liked!");
    });
  });
  $('.show_hide').click(function () {
    $(".direct-chat-messages").animate({ scrollTop: $(".direct-chat-messages")[0].scrollHeight}, 1000);
    var getId = $(this).attr("id");
    $("#slidingDiv"+getId).toggle("slide");
  });
</script>