<% if user_signed_in? && current_user.admin? %>
    <script type="text/javascript">
      window.location.href="/admin/dashboard"  
    </script>
  <% end %>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Messages
      <small>Preview page</small>
      <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#feedbackModal">Feedback</button>
    </h1>
  </section>
  <section class="content">
    <div class="container">
      <div class="row app-one">
        <div class="col-sm-12 conversation">
          <div class="row message direct-chat-messages" id="room-<%= current_user.chat_room.id %>">
            <%= render "messages" %>
          </div>
          <div class="row reply">
            <% if !current_user.blocked %>
              <%= form_tag("/messages", method: 'post', :remote => true, id: "send-message") do %>
                <div class="col-sm-11 col-xs-11 reply-main">
                  <div class="maxl">
                    <% AvailableCategory.all.each do |ac| %>
                      <label class="radio inline"> 
                        <input type="radio" name="category" value="<%= ac.name %>" checked>
                        <span style="color:<%= ac.color %>;"> <i class="<%= ac.icon %>"></i> <%= ac.name.titleize %></span> 
                      </label>
                    <% end %>
                  </div>
                  <textarea class="form-control" rows="1" name="message" id="messages" placeholder="Type Message ..." required></textarea>
                </div>
                <div class="col-sm-1 col-xs-1 reply-send">
                  <button type="submit" class="btn btn-default" data-toggle="tooltip" title="Send Message">Send</button>
                </div>
              <%end%>
            <%else%>  
              <strong>You are temporarily blocked for messaging!</strong>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </section><!-- /.content -->
  <div class="user-chat-container">
    <% if @rooms.present? %>
      <% @rooms.each do |room| %>
        <%= render partial: "user_chat", locals: { room: room, user: current_user } %>
      <% end %>  
    <% end %>
    <% if @joined_rooms.present? %>
      <% @joined_rooms.each do |room| %>
        <%= render partial: "user_chat", locals: { room: room, user: current_user } %>
      <% end %>  
    <% end %>
  </div>
</div>
<div id="feedbackModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Feedback</h4>
      </div>
      <div class="modal-body">
        <p>
          <%= form_tag("/users/feedback", method: 'post') do %>
            <div class="col-sm-12 col-xs-12">
              <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
              </fieldset>
              <textarea class="form-control" style="margin-bottom: 10px;" rows="1" name="message" placeholder="Type Message ..." required></textarea>
            </div>
            <div class="col-sm-2 col-xs-2">
              <button type="submit" class="btn btn-default">Send Feedback</button>
            </div>
          <%end%>
        </p>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
<div id="messagingScore" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Messaging Score Criteria</h4>
      </div>
      <div class="modal-body">
        <p>
          <ul>
            <li>Rule 1</li>
            <li>Rule 2</li>
            <li>Rule 3</li>
            <li>Rule 4</li>
          </ul>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<div id="loyaltyScore" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Loyalty Score Criteria</h4>
      </div>
      <div class="modal-body">
        <p>
          <ul>
            <li>Rule 1</li>
            <li>Rule 2</li>
            <li>Rule 3</li>
            <li>Rule 4</li>
          </ul>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
  jQuery(function() {
    return $('#messages').autocomplete({
      source: "/messages/index"
    });
  });
</script>
<script type="text/javascript">
  $(function(){

    $("#send-message").on("submit", function(){
     setTimeout(function(){
      refreshPartial()
      }, 1000);
      return true;
    });

    function refreshPartial() {
      $.ajax({
        url: "/refresh_header"
      })
    }

    $('[data-toggle="tooltip"]').tooltip();
    var arrow = $('.arrow-btn');
    var textarea = $('.chat-text textarea');
    arrow.on('click', function(){
      var src = $(this).attr('src');
      $(this).parent().parent().find('.chat-body').slideToggle('fast');
      if(src == 'https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png'){
        arrow.attr('src', 'https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_up-16.png');
      }
      else{
        arrow.attr('src', 'https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png');
      }
    });
    textarea.keypress(function(event) {
      var $this = $(this);
      if(event.keyCode == 13){
        $(this).parent().submit();
        var msg = $this.val();
        $this.val('');
        setTimeout(function(){
          refreshPartial();
        }, 1000);
      }
    });
  });
</script>
<style type="text/css">
  ul.ui-autocomplete {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    border: solid 1px #999;
    cursor: default;
  }
  ul.ui-autocomplete li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 5px;
  }
  ul.ui-autocomplete li div {
    color: #000;
    display: block;
    padding: 3px;
  }
  ul.ui-autocomplete li div.ui-state-hover,
  ul.ui-autocomplete li div.ui-state-active {
    background-color: #FFFCB2;
  }
  .category-box{
    height: auto;
  }
  .maxl{
    float: left;
    height: auto;
    width: auto;
    margin-bottom: 15px !important;
    border-radius: 5px;
  }
  .maxl .inline {
    margin: 5px;
    font-weight: 400;
    color: #333;
  }
</style>