<% if user_signed_in? && current_user.admin? %>
    <script type="text/javascript">
      window.location.href="/admin/dashboard"  
    </script>
  <% end %>

<div class="conversation">
  <div class="conversation-container" id="room-<%= current_user.chat_room.id %>">
    <%= render "messages" %>
  </div>
  <% if !current_user.blocked %>
    <%= form_tag("/messages", method: 'post', :remote => true, id: "send-message", class: "conversation-compose") do %>
      <input class="input-msg" id="text-<%= current_user.chat_room.id %>" rows="1" name="message" placeholder="Type Message ..." required maxlength="200">
      <div class="photo">
      </div>
      <button class="send">
        <div class="circle">
          <i class="fa  fa-paper-plane"></i>
        </div>
      </button>
    <% end %>
  <%else%>  
    <strong>You are temporarily blocked for messaging!</strong>
  <%end%>
</div>
<div class="modal fade" id="replyModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Reply</h4>
      </div>
      <div class="modal-body">
        <div  class="reply-message reply-message-modal">
          <span class="pull-left-width"></span>
        </div>
        <%= form_tag("/reply", method: 'post', :remote => true, class: "reply-form") do %>
          <div class="form-group">
            <input type="text" name="reply" id="reply" placeholder="Type Message ..." class="form-control" maxlength="200">
            <input type="hidden" name="message_id" id="message_id" value="" >
          </div>
          <input type="submit" class="btn btn-info" value="Send">
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="feedbackModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Feedback</h4>
      </div>
      <div class="modal-body">
        <p>
          <%= form_tag("/users/feedback", method: 'post') do %>
            <div class="col-sm-12 col-xs-12">
              <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
              </fieldset>
              <textarea class="form-control" style="margin-bottom: 10px;" rows="1" name="message" placeholder="Type Message ..." required></textarea>
            </div>
            <div class="col-sm-2 col-xs-2">
              <button type="submit" class="btn btn-default">Send Feedback</button>
            </div>
          <%end%>
        </p>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
<div class="loading">Loading&#8230;</div>
  <script type="text/javascript">
    jQuery(function() {
      return $('.input-msg').autocomplete({
        source: "/messages/index",
        open: function(event, ui) {
            var autocomplete = $(".ui-autocomplete");
            var oldTop = autocomplete.offset().top;
            var newTop = oldTop - autocomplete.height() - $("#message_id").height() - 50;

            autocomplete.css("top", newTop);
        }
      });
    });
    $(function(){

      $("#send-message").on("submit", function(){
      setTimeout(function(){
        refreshPartial()
        }, 1000);
        return true;
      });

      function refreshPartial() {
        $.ajax({
          url: "/refresh_header"
        })
      }

      $('[data-toggle="tooltip"]').tooltip();
      $(".conversation-container").animate({ scrollTop: $(".conversation-container")[0].scrollHeight}, 1000);
      $('.conversation-compose').on('ajax:success', function(e, data, status, xhr){
        $(".conversation-container").animate({ scrollTop: $(".conversation-container")[0].scrollHeight}, 1000);
        $(".input-msg").val('');
      }).on('ajax:error',function(e, xhr, status, error){
        $(".conversation-container").animate({ scrollTop: $(".conversation-container")[0].scrollHeight}, 1000);
        $(".input-msg").val('');
      });
    });
  </script>
  