<% @messages.group_by{|x| x.created_at.strftime("%A %d %B, %Y")}.each do |key, messages| %>
    <div class="conservation-time">
        <%= key %>
    </div>
    <% messages.each do |message| %>
        <% if message.sender.role_cd == 0 %>
            <div class="message received">
                <span class="pull-left-width">
          <span>Hello, <%= @user.email %></span>
                <br>
                <%= message.content %>
                    <br/>
                    <span>Thank you!</span>
                    </span>
                    <span class="metadata">
          <span class="time"><%= message.created_at.strftime(" %l:%M %P ") %></span>
                    </span>
            </div>
            <% else %>
                <div class="message received" id="received<%= message.id %>">
                    <span class="pull-left-width">
          <%= message.content %>
        </span>
                    <% reply = message.replies.where(sender_id: @user.id).first %>
                        <% if reply.present? %>
                            <div class="reply-message">
                                <span class="pull-left-width"><%= reply.content %></span>
                                <span class="metadata">
                <span class="time"><%= reply.created_at.strftime("%l:%M %P ") %></span>
                                </span>
                            </div>
                            <%else%>
                                <div class="direct-chat-text reciever-message">
                                    <a href="javascript:void(0)" id="<%= message.id %>-<%= @user.id %>" class="reply-btn">Reply</a>
                                    <a href="javascript:void(0)" id="<%= message.id %>-<%= @user.id %>-cancel" class="cancel-btn hidden">Cancel</a>
                                    <div class="row reply-box hidden" id="reply-<%= message.id %>-<%= @user.id %>">
                                        <%= form_tag("/reply", method: 'post', :remote => true, class: "form-horizontal") do %>
                                            <div class="col-xs-12">
                                                <input type="text" name="reply" id="reply" placeholder="Type Message ..." class="form-control">
                                                <input type="hidden" name="message_id" value="<%= message.id %>">
                                            </div>
                                            <div class="col-xs-12">
                                                <button type="submit" class="btn btn-primary btn-flat custom-float">Send</button>
                                            </div>
                                            <% end %>
                                    </div>
                                </div>
                                <%end%>
                                    <div class="metadata-1">
                                        <div class="cat-left category-<%= message.id %>">
                                            <a href="#" class="category-ch" id="<%= message.id %>" data-toggle="modal" data-target="#changeCat">
              <span class="label label-warning" data-toggle="tooltip" title="<%= message.available_category.try(:name).try(:titleize) %>" style="background-color: <%= category(message.available_category.try(:name)).try(:color) %> !important;"><i class="<%= category(message.available_category.try(:name)).present? ? category(message.available_category.try(:name)).try(:icon) : 'fa fa-question-circle-o' %>"></i></span>
            </a>
                                        </div>
                                        <div class="cat-right">
                                            <%= link_to "<span class='fa fa-user'></span>".html_safe, "/admin/profile/#{message.sender.id}", {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#profileModal', :class => "btn btn-sm btn-primary"} %>
                                        </div>
                                        <div class="cat-right">
                                            <%= link_to "<span class='fa fa-comments'></span>".html_safe, "javascript:void(0)", {:class => "btn btn-sm btn-primary start-chat", id: "#{message.id}"} %>
                                        </div>
                                    </div>
                                    <span class="metadata">
          <span class="time"><%= message.created_at.strftime(" %l:%M %P ") %></span>
                                    </span>
                </div>
                <% end %>
                    <% end %>
                        <% end %>

                            <div id="profileModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"><i class="fa fa-user margin-r-5"></i>User Profile</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="user-profile">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="changeCat" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                                <div class="modal-dialog">

                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"><i class="fa fa-user margin-r-5"></i>Categories</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="maxl">
                                                <%= form_tag("/admin/change_category", method: 'post', :remote => true) do %>
                                                    <% AvailableCategory.all.each do |ac| %>
                                                        <label class="radio inline"> 
            <input type="radio" name="category" value="<%= ac.name %>" checked>
            <span style="color:<%= ac.color %>;"> <i class="<%= ac.icon %>"></i> <%= ac.name.titleize %></span> 
          </label>
                                                        <% end %>
                                                            <input type="hidden" name="message_id" class="chCat">
                                                            <p class="s-btn">
                                                                <input type="submit" value="Change" class="btn btn-default">
                                                            </p>
                                                            <% end %>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <style type="text/css">
                                .direct-chat-text {
                                    float: left;
                                    width: 100%;
                                    margin: 8px 0px;
                                }
                                
                                .maxl {
                                    width: 100%;
                                    float: left;
                                    padding: 20px
                                }
                                
                                .maxl label {
                                    float: left;
                                    width: auto;
                                    min-width: 200px;
                                    position: inherit;
                                }
                                
                                .s-btn {
                                    float: left;
                                    width: 100%;
                                }
                            </style>
                            <script type="text/javascript">
                                function refreshPartial() {
                                    $.ajax({
                                        url: "/admin/refresh_messages"
                                    })
                                }
                                $(".form-horizontal").on("submit", function() {
                                    setTimeout(function() {
                                        refreshPartial();
                                    }, 1000);
                                });

                                $(".start-chat").click(function() {
                                    var message_id = $(this).attr("id");
                                    title = message_id
                                    $.ajax({
                                            method: "POST",
                                            url: "/admin/create.js",
                                            data: jQuery.param({
                                                room: {
                                                    title: title
                                                },
                                                message_id: message_id
                                            })
                                        })
                                        .done(function(msg) {
                                            setTimeout(function() {
                                                refreshPartial();
                                            }, 1000);
                                        });
                                });

                                $('#changeCat').appendTo("body");
                                $('#profileModal').appendTo("body");
                                $(".category-ch").click(function() {
                                    $(".chCat").val($(this).attr("id"));
                                });
                                $(".reply-btn").click(function() {
                                    var id = $(this).attr("id");
                                    $("#reply-" + id).removeClass("hidden");
                                    $("#" + id + "-cancel").removeClass("hidden");
                                    $("#" + id).addClass("hidden");
                                })
                                $(".cancel-btn").click(function() {
                                    var id = $(this).attr("id").split("-cancel")[0];
                                    $("#reply-" + id).addClass("hidden");
                                    $("#" + id + "-cancel").addClass("hidden");
                                    $(".reply-btn#" + id).removeClass("hidden");
                                });
                            </script>