<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zineya</title>
    <%= favicon_link_tag "favicon.png" %>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="hold-transition page login-page">
    <div class="profile-page">
      <div class="screen">
        <div class="screen-container">
          <div class="status-bar hidden">
            <div class="time hidden"></div>
          </div>
          <div class="chat chat-register">
            <div class="chat-container">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>          
  </body>
</html>
